In [1]:
import pandas as pd
import numpy as np
import datetime
import warnings

warnings.filterwarnings("ignore")

In [58]:
class GetDataFrame:
    def __init__(self, dfname="train"):
        if dfname == "train":
            self.df = pd.read_csv("dataset/train.csv")
        else:
            self.df = pd.read_csv("dataset/test.csv")

        self.numerical_features = list()
        self.categorical_features = list()
        self.timeseries_features = list()
        self.feature_outlier_count = {}
        self.house_price = {}

        # self.shape = self.df.shape
        # self.info = self.df.info()
        

    def get_cleaned_df(self):
        ###### DROP and CLEAN #######
        self.df.drop("Id", axis=1, inplace=True)
                     
        # A quoi ça sert de remplir les valeurs manquantes ? Autant les drops
        NA_columns = [
            "Alley",
            "BsmtQual",
            "BsmtCond",
            "BsmtExposure",
            "BsmtFinType1",
            "BsmtFinType2",
            "FireplaceQu",
            "GarageType",
            "GarageFinish",
            "GarageQual",
            "GarageCond",
            "PoolQC",
            "Fence",
            "MiscFeature",
        ]
        self.df[NA_columns] = self.df[NA_columns].fillna("NA")
        
        # Remplace les nan values par la médiane calculé sur le groupby, on change les nan en NaN pour les drops après ?          
        self.df["LotFrontage"] = self.df.groupby(["Neighborhood", "LotConfig"])[
            "LotFrontage"
        ].apply(lambda x: np.Nan if x.median() == np.NaN else x.fillna(x.median())) # Il reste 5 NaN
        
        # Remplace les derniers NaN de lotFrontage
        self.df["LotFrontage"] = self.df.groupby(["LotConfig"])["LotFrontage"].apply(
            lambda x: x.fillna(x.median())
        )
        
        # Remplace l'année de construction du garage par celle de la maison, a quoi ca sert ??
        self.df.loc[self.df.GarageYrBlt.isnull(), "GarageYrBlt"] = self.df.loc[
            self.df.GarageYrBlt.isnull(), "YearBuilt"
        ]
        
        # fill 0 and Not Present for numerical and categorical feature's null values
        self.df.MasVnrArea.fillna(0, inplace=True)
        self.df.MasVnrType.fillna("Not present", inplace=True)
        
        # Adding square feet of first floor and second floor
        self.df["TotalFlrSFAbvGrd"] = self.df[["1stFlrSF", "2ndFlrSF"]].sum(axis=1)
        
        # Adding all the bathrooms
        self.df["TotalBath"] = self.df[
            ["BsmtFullBath", "BsmtHalfBath", "FullBath", "HalfBath"]
        ].sum(axis=1)
        
        # Adding square feet of all Porcch
        self.df["TotalPorchSF"] = self.df[
            ["OpenPorchSF", "EnclosedPorch", "3SsnPorch", "ScreenPorch", "WoodDeckSF"]
        ].sum(axis=1)
        
        # DROP features avec trop de répétition
        self.df.drop(columns=self.get_columns_to_drop(), inplace=True)
        
        
        ###### GET TYPEs #######
        # create a list of numerical features, peut utiliser le dtype
        self.numerical_features = list(
            self.df.select_dtypes(include=[np.number]).columns.values
        )
        
        # create a list of features that are categorical
        self.categorical_features = list(
            self.df.select_dtypes(include=[np.object]).columns.values
        )
        
        # Create feature list for time series data
        self.timeseries_features = [
            "YearBuilt",
            "YearRemodAdd",
            "YrSold",
            "MoSold",
            "GarageYrBlt",
        ]
        
        # removing times series features from numeric to avoid repetition
        for col in self.timeseries_features:
            self.numerical_features.remove(col)
            
        ###### Numerical #######
        # adding numerical features to categorical if the unique value count in a feature is less tha are equal to 10
        # a quoi ca sert ?
        self.cat_feature = (
            pd.Series(
                self.df[self.numerical_features].nunique().sort_values(), name="Count"
            )
            .to_frame()
            .query("Count <= 10")
            .index.values
        )
        self.categorical_features.extend(self.cat_feature)
        
        # removing the numerical features that belong to categorial features
        # vraiment utile ?
        for col in self.cat_feature:
            self.numerical_features.remove(col)

        # Handle outliers
        self.fix_outliers()

        # drop the variables that are not in correlation with sale price
        # devrait le faire au début
        self.df.drop(["BsmtFinSF2", "BsmtUnfSF", "EnclosedPorch"], axis=1, inplace=True)
        for col in ["BsmtFinSF2", "BsmtUnfSF", "EnclosedPorch"]:
            self.numerical_features.remove(col)

        ######### HERE Categorical ##########

        # change the type to string
        self.df.MSSubClass = self.df.MSSubClass.astype(str)

        # reducing the number of categories
        self.df.MSSubClass.replace(
            {
                "20": "1story",
                "30": "1story",
                "40": "1story",
                "45": "1story",
                "50": "1story",
                "60": "2story",
                "70": "2story",
                "75": "2story",
                "80": "nstory",
                "85": "nstory",
                "90": "nstory",
                "120": "1story",
                "150": "1story",
                "160": "2story",
                "180": "nstory",
                "190": "nstory",
            },
            inplace=True,
        )
        # adding MSSubClass to categorical Feature list
        self.categorical_features.append("MSSubClass")
        # removing it from numerical feature list
        self.numerical_features.remove("MSSubClass")
        # Combine Categories that are not ordinal as ordinal catgeories (need refactorization)
        self.df.BldgType.replace({"2fmCon": "Twnhs", "Duplex": "Twnhs"}, inplace=True)
        self.df.BsmtExposure.replace({"Mn": "Av"}, inplace=True)
        self.df.Condition1.replace(
            {"RRNn": "RRAn", "PosN": "PosA", "RRNe": "RRAe", "Feedr": "Artery"},
            inplace=True,
        )
        self.df.Exterior2nd.replace(
            {
                "MetalSd": "Wd Sdng",
                "Wd Shng": "Wd Sdng",
                "HbBoard": "Wd Sdng",
                "Plywood": "Wd Sdng",
                "Stucco": "Wd Sdng",
                "CBlock": "BrkFace",
                "Other": "BrkFace",
                "Stone": "BrkFace",
                "AsphShn": "BrkFace",
                "ImStucc": "BrkFace",
                "Brk Cmn": "BrkFace",
            },
            inplace=True,
        )
        self.df.Foundation.replace({"Wood": "Stone", "Slab": "Stone"}, inplace=True)
        self.df.GarageType.replace(
            {
                "CarPort": "Detchd",
                "No Garage": "Detchd",
                "Basment": "Detchd",
                "2Types": "Detchd",
            },
            inplace=True,
        )
        self.df.LotShape.replace({"IR3": "IR2"}, inplace=True)
        self.df.MSZoning.replace({"RH": "RM"}, inplace=True)
        self.df.MasVnrType.replace(
            {"None": "BrkCmn", "Not present": "BrkCmn"}, inplace=True
        )
        self.df.Neighborhood.replace(
            {
                "BrDale": "MeadowV",
                "IDOTRR": "MeadowV",
                "NAmes": "Sawyer",
                "NPkVill": "Sawyer",
                "Mitchel": "Sawyer",
                "SWISU": "Sawyer",
                "Blueste": "Sawyer",
                "Blmngtn": "Gilbert",
                "SawyerW": "Gilbert",
                "NWAmes": "Gilbert",
                "ClearCr": "Crawfor",
                "CollgCr": "Crawfor",
                "Timber": "Veenker",
                "Somerst": "Veenker",
                "Edwards": "OldTown",
                "BrkSide": "OldTown",
                "StoneBr": "NridgHt",
                "NoRidge": "NridgHt",
            },
            inplace=True,
        )

        self.df.SaleCondition.replace(
            {"AdjLand": "Abnorml", "Alloca": "Abnorml", "Family": "Abnorml"},
            inplace=True,
        )
        self.df.SaleType.replace(
            {
                "ConLD": "COD",
                "ConLI": "COD",
                "CwD": "COD",
                "ConLw": "COD",
                "Con": "COD",
                "Oth": "COD",
            },
            inplace=True,
        )
        categorical_to_drop = [
            "ExterCond",
            "Fence",
            "LotConfig",
            "RoofStyle",
            "Exterior1st",
        ]
        # add columns to drop
        drop_columns = ["ExterCond", "Fence", "LotConfig", "RoofStyle", "Exterior1st"]

        # drop the selected features
        self.df.drop(columns=drop_columns, inplace=True)

        # remove the dropped columns from categorical feature list
        for cat in drop_columns[:]:
            self.categorical_features.remove(cat)

        ######### Timeseries ########
        # change the types to integer
        self.df.YrSold = self.df.YrSold.astype(int)
        self.df.GarageYrBlt = self.df.GarageYrBlt.astype(int)

        # create a derieved column date sold by combining month sold and year sold
        self.df["dateSold"] = (
            self.df["MoSold"].astype(str) + "-1-" + self.df["YrSold"].astype(str)
        )
        self.df["dateSold"] = pd.to_datetime(self.df["dateSold"])
        # add the new column to the timeseries list
        self.timeseries_features.append("dateSold")

        # drop des colonnes Mosold / Yrsold
        self.df.drop(["MoSold", "YrSold"], axis=1, inplace=True)
        for col in ["MoSold", "YrSold"]:
            self.timeseries_features.remove(col)

        # reset these categorical numerical variables to integer
        self.df[
            [
                "HalfBath",
                "Fireplaces",
                "FullBath",
                "BsmtFullBath",
                "GarageCars",
                "BedroomAbvGr",
                "OverallCond",
                "OverallQual",
            ]
        ] = self.df[
            [
                "HalfBath",
                "Fireplaces",
                "FullBath",
                "BsmtFullBath",
                "GarageCars",
                "BedroomAbvGr",
                "OverallCond",
                "OverallQual",
            ]
        ].astype(
            int
        )

        # assign the categorical columns that are non integer to categorical_columns as a list
        self.categorical_columns = [
            "ExterQual",
            "BsmtQual",
            "BsmtCond",
            "HeatingQC",
            "KitchenQual",
            "FireplaceQu",
            "GarageQual",
            "HouseStyle",
            "BsmtFinType2",
            "BsmtFinType1",
            "GarageFinish",
        ]

        # assign the labels in the order of decreasing to increasing as when creating a categorical feature
        # Converting normal Object features to Categorical Data Type features
        self.df["ExterQual"] = pd.Categorical(
            self.df["ExterQual"], ordered=True, categories=["Fa", "TA", "Gd", "Ex"]
        )
        self.df["BsmtQual"] = pd.Categorical(
            self.df["BsmtQual"], ordered=True, categories=["NA", "Fa", "TA", "Gd", "Ex"]
        )
        self.df["BsmtCond"] = pd.Categorical(
            self.df["BsmtCond"], ordered=True, categories=["NA", "Po", "Fa", "TA", "Gd"]
        )
        self.df["HeatingQC"] = pd.Categorical(
            self.df["HeatingQC"], ordered=True, categories=["Po", "Fa", "TA", "Gd", "Ex"]
        )
        self.df["KitchenQual"] = pd.Categorical(
            self.df["KitchenQual"], ordered=True, categories=["Fa", "TA", "Gd", "Ex"]
        )
        self.df["FireplaceQu"] = pd.Categorical(
            self.df["FireplaceQu"],
            ordered=True,
            categories=["NA", "Po", "Fa", "TA", "Gd", "Ex"],
        )
        self.df["GarageQual"] = pd.Categorical(
            self.df["GarageQual"],
            ordered=True,
            categories=["NA", "Po", "Fa", "TA", "Gd", "Ex"],
        )
        self.df['GarageFinish'] = pd.Categorical(self.df['GarageFinish'],ordered=True,categories=['NA','Unf','RFn','Fin'])
        self.df['BsmtFinType1']=pd.Categorical(self.df['BsmtFinType1'],ordered=True,categories=['NA','Unf','LwQ','Rec','BLQ','ALQ','GLQ'])
        self.df['BsmtFinType2']=pd.Categorical(self.df['BsmtFinType2'],ordered=True,categories=['NA','Unf','LwQ','Rec','BLQ','ALQ','GLQ'])
        self.df['HouseStyle']=pd.Categorical(self.df['HouseStyle'],ordered=True,categories=[ 'SFoyer','1.5Unf','1Story','1.5Fin','SLvl','2.5Unf','2Story','2.5Fin'])

        # factorize the categories to Integer representation
        for col in self.categorical_columns:
            code, _ = pd.factorize(self.df[col],sort=True)
            self.df[col] = pd.Series(code)

        # reassign the categorical features 
        self.categorical_features = list(self.df.select_dtypes(include=[np.object]).columns.values)

        # created dummy variables for categorical features
        self.house_price = pd.concat([self.df,pd.get_dummies(self.df[self.categorical_features],drop_first=True)],axis=1)

        # drop the actual categorical feature from list
        self.house_price.drop(columns=self.categorical_features,inplace=True)
        # reset index for the new dataframe
        self.house_price.reset_index(drop=True,inplace=True)

        ######## TIME ########
        # lets create a constant time
        self.tm = datetime.time(10,10)

        # convert the dateSold to unixstimestamp
        self.house_price.dateSold = self.house_price.dateSold.apply(lambda x: datetime.datetime.combine(x, self.tm).timestamp())

        # reassigning all the numerical features to the numerical_features variable as a list
        self.numerical_features = list(self.df.select_dtypes(include=[np.number]).columns.values)
        print(self.house_price.shape)
        return self.df

    
    def get_raw_df(self):
        return self.df

    
    def check_null_percentage(self):
        missing_info = (
            pd.DataFrame(
                np.array(
                    self.df.isnull().sum().sort_values(ascending=False).reset_index()
                ),
                columns=["Columns", "Missing_Percentage"],
            )
            .query("Missing_Percentage > 0")
            .set_index("Columns")
        )
        return 100 * missing_info / self.df.shape[0]

    
    def get_columns_to_drop(self) -> np.ndarray:
        """get the features that holds more than 90% of its data with a same value
        return numpy ndarray with features string
        """
        unique_df = (
            self.df.apply(lambda x: self.top_unique_count(x))
            .rename(index={0: "Value", 1: "Percentage", 2: "Count"})
            .T.sort_values(by="Count", ascending=False)
        )
        drop_columns = unique_df.query("Percentage > 90.0").index.values
        return drop_columns

    
    def top_unique_count(self, x) -> tuple:
        """get the values from each features and calcul percentage for each occurences
        return tuple with values, percentage, total occurence
        """
        unq_cnt = (
            x.value_counts(ascending=False, dropna=False).head(1).index.values[0],
            100
            * x.value_counts(ascending=False, dropna=False).head(1).values[0]
            / self.df.shape[0],
            x.value_counts(ascending=False, dropna=False).head(1).values[0],
        )
        return unq_cnt

    
    def feature_outlier_make_count(self, to_print=False):
        """Outliers number by features
        return dict in feature_outlier_count argument
        """
        self.feature_outlier_count = {
            "1stFlrSF": 1,
            "BsmtFinSF1": 2,
            "BsmtFinSF2": 1,
            "EnclosedPorch": 2,
            "GarageArea": 4,
            "GrLivArea": 4,
            "LotArea": 7,
            "LotFrontage": 2,
            "MasVnrArea": 1,
            "OpenPorchSF": 3,
            "TotalBsmtSF": 4,
            "TotRmsAbvGrd": 1,
            "TotalFlrSFAbvGrd": 2,
            "TotalPorchSF": 1,
            "WoodDeckSF": 3,
        }

        if to_print == True:
            for k, v in self.feature_outlier_count.items():
                if v:
                    print(
                        self.df.loc[
                            self.df[k].isin(sorted(self.df[k])[-v:]), [k, "SalePrice"]
                        ]
                    )

                    
    # Ca parait compliqué pour pas grand chose
    def get_outliers(self, feature, index=-1):
        outlier = self.df.loc[
            self.df[feature] == sorted(self.df[feature])[index], [feature, "SalePrice"]
        ].sort_values(by=feature, ascending=False)
        return outlier

    
    def remove_outlier_features_count_for_index(self, outlier_index):
        for col in self.feature_outlier_count.keys():
            if (self.feature_outlier_count[col] > 0) & (
                outlier_index in self.get_outliers(col).index.values
            ):
                self.feature_outlier_count[col] = self.feature_outlier_count[col] - 1
        self.df.drop(outlier_index, inplace=True)
        self.df.reset_index(drop=True, inplace=True)
        return "ok"

    
    def fix_outliers(self):
        self.feature_outlier_make_count()
        for k, v in self.feature_outlier_count.items():
            while v > 0:
                # replacing the outliers by taking mean of four closest feature value of the outlier at the salePrice Range
                replace_with = self.df.loc[
                    (self.df["SalePrice"] - self.get_outliers(k)["SalePrice"].values[0])
                    .abs()
                    .argsort()[v : v + 4],
                    k,
                ].mean()
                if (self.df[k].dtypes == np.int64) | (self.df[k].dtypes == np.int32):
                    self.df.loc[
                        self.df.index[self.get_outliers(k).index.values[0]], k
                    ] = int(replace_with)
                else:
                    self.df.loc[
                        self.df.index[self.get_outliers(k).index.values[0]], k
                    ] = round(replace_with, 1)
                v = v - 1
                self.feature_outlier_count[k] = v

In [59]:
df = GetDataFrame("train")
toto = df.get_cleaned_df()
toto.head()

dict_items([('1stFlrSF', 1), ('BsmtFinSF1', 2), ('BsmtFinSF2', 1), ('EnclosedPorch', 2), ('GarageArea', 4), ('GrLivArea', 4), ('LotArea', 7), ('LotFrontage', 2), ('MasVnrArea', 1), ('OpenPorchSF', 3), ('TotalBsmtSF', 4), ('TotRmsAbvGrd', 1), ('TotalFlrSFAbvGrd', 2), ('TotalPorchSF', 1), ('WoodDeckSF', 3)])
(1460, 82)

,MSSubClass,MSZoning,LotFrontage,LotArea,LotShape,LandContour,Neighborhood,Condition1,BldgType,HouseStyle,...,GarageQual,WoodDeckSF,OpenPorchSF,SaleType,SaleCondition,SalePrice,TotalFlrSFAbvGrd,TotalBath,TotalPorchSF,dateSold
0,2story,RL,65.0,8450,Reg,Lvl,Crawfor,Norm,1Fam,6,...,3,0,61,WD,Normal,208500,1710,4,61,2008-02-01
1,1story,RL,80.0,9600,Reg,Lvl,Veenker,Artery,1Fam,2,...,3,298,0,WD,Normal,181500,1262,3,298,2007-05-01
2,2story,RL,68.0,11250,IR1,Lvl,Crawfor,Norm,1Fam,6,...,3,0,42,WD,Normal,223500,1786,4,42,2008-09-01
3,2story,RL,60.0,9550,IR1,Lvl,Crawfor,Norm,1Fam,6,...,3,0,35,WD,Abnorml,140000,1717,2,307,2006-02-01
4,2story,RL,84.0,14260,IR1,Lvl,NridgHt,Norm,1Fam,6,...,3,192,84,WD,Normal,250000,2198,4,276,2008-12-01

In [5]:
df1 = pd.read_csv('./dataset/train.csv')

In [17]:
df1.Alley

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
1455    NaN
1456    NaN
1457    NaN
1458    NaN
1459    NaN
Name: Alley, Length: 1460, dtype: object

In [13]:
test[test.isna()]

Series([], Name: LotFrontage, dtype: float64)

In [7]:
grouped = df1.groupby(["LotConfig"])["LotFrontage"]

In [9]:
test1 = grouped.fillna(grouped.median())

In [48]:

def top_unique_count(x):
    print(x)
    unq_cnt = (
        x.value_counts(ascending=False, dropna=False).head(1).index.values[0],
        100
        * x.value_counts(ascending=False, dropna=False).head(1).values[0]
        / df1.shape[0],
        x.value_counts(ascending=False, dropna=False).head(1).values[0],
    )
    return unq_cnt

In [49]:
unique_df = (
            df1.apply(lambda x: top_unique_count(x))
            .rename(index={0: "Value", 1: "Percentage", 2: "Count"})
            .T.sort_values(by="Count", ascending=False)
        )
drop_columns = unique_df.query("Percentage > 90.0").index.values

0          1
1          2
2          3
3          4
4          5
        ...
1455    1456
1456    1457
1457    1458
1458    1459
1459    1460
Name: Id, Length: 1460, dtype: int64
0       60
1       20
2       60
3       70
4       60
        ..
1455    60
1456    20
1457    70
1458    20
1459    20
Name: MSSubClass, Length: 1460, dtype: int64
0       RL
1       RL
2       RL
3       RL
4       RL
        ..
1455    RL
1456    RL
1457    RL
1458    RL
1459    RL
Name: MSZoning, Length: 1460, dtype: object
0       65.0
1       80.0
2       68.0
3       60.0
4       84.0
        ...
1455    62.0
1456    85.0
1457    66.0
1458    68.0
1459    75.0
Name: LotFrontage, Length: 1460, dtype: float64
0        8450
1        9600
2       11250
3        9550
4       14260
        ...
1455     7917
1456    13175
1457     9042
1458     9717
1459     9937
Name: LotArea, Length: 1460, dtype: int64
0       Pave
1       Pave
2       Pave
3       Pave
4       Pave
        ...
1455    Pave
1456    Pave
1457    Pave
1458    Pave
1459    Pave
Name: Street, Length: 1460, dtype: object
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
1455    NaN
1456    NaN
1457    NaN
1458    NaN
1459    NaN
Name: Alley, Length: 1460, dtype: object
0       Reg
1       Reg
2       IR1
3       IR1
4       IR1
       ...
1455    Reg
1456    Reg
1457    Reg
1458    Reg
1459    Reg
Name: LotShape, Length: 1460, dtype: object
0       Lvl
1       Lvl
2       Lvl
3       Lvl
4       Lvl
       ...
1455    Lvl
1456    Lvl
1457    Lvl
1458    Lvl
1459    Lvl
Name: LandContour, Length: 1460, dtype: object
0       AllPub
1       AllPub
2       AllPub
3       AllPub
4       AllPub
         ...
1455    AllPub
1456    AllPub
1457    AllPub
1458    AllPub
1459    AllPub
Name: Utilities, Length: 1460, dtype: object
0       Inside
1          FR2
2       Inside
3       Corner
4          FR2
         ...
1455    Inside
1456    Inside
1457    Inside
1458    Inside
1459    Inside
Name: LotConfig, Length: 1460, dtype: object
0       Gtl
1       Gtl
2       Gtl
3       Gtl
4       Gtl
       ...
1455    Gtl
1456    Gtl
1457    Gtl
1458    Gtl
1459    Gtl
Name: LandSlope, Length: 1460, dtype: object
0       CollgCr
1       Veenker
2       CollgCr
3       Crawfor
4       NoRidge
         ...
1455    Gilbert
1456     NWAmes
1457    Crawfor
1458      NAmes
1459    Edwards
Name: Neighborhood, Length: 1460, dtype: object
0        Norm
1       Feedr
2        Norm
3        Norm
4        Norm
        ...
1455     Norm
1456     Norm
1457     Norm
1458     Norm
1459     Norm
Name: Condition1, Length: 1460, dtype: object
0       Norm
1       Norm
2       Norm
3       Norm
4       Norm
        ...
1455    Norm
1456    Norm
1457    Norm
1458    Norm
1459    Norm
Name: Condition2, Length: 1460, dtype: object
0       1Fam
1       1Fam
2       1Fam
3       1Fam
4       1Fam
        ...
1455    1Fam
1456    1Fam
1457    1Fam
1458    1Fam
1459    1Fam
Name: BldgType, Length: 1460, dtype: object
0       2Story
1       1Story
2       2Story
3       2Story
4       2Story
         ...
1455    2Story
1456    1Story
1457    2Story
1458    1Story
1459    1Story
Name: HouseStyle, Length: 1460, dtype: object
0       7
1       6
2       7
3       7
4       8
       ..
1455    6
1456    6
1457    7
1458    5
1459    5
Name: OverallQual, Length: 1460, dtype: int64
0       5
1       8
2       5
3       5
4       5
       ..
1455    5
1456    6
1457    9
1458    6
1459    6
Name: OverallCond, Length: 1460, dtype: int64
0       2003
1       1976
2       2001
3       1915
4       2000
        ...
1455    1999
1456    1978
1457    1941
1458    1950
1459    1965
Name: YearBuilt, Length: 1460, dtype: int64
0       2003
1       1976
2       2002
3       1970
4       2000
        ...
1455    2000
1456    1988
1457    2006
1458    1996
1459    1965
Name: YearRemodAdd, Length: 1460, dtype: int64
0       Gable
1       Gable
2       Gable
3       Gable
4       Gable
        ...
1455    Gable
1456    Gable
1457    Gable
1458      Hip
1459    Gable
Name: RoofStyle, Length: 1460, dtype: object
0       CompShg
1       CompShg
2       CompShg
3       CompShg
4       CompShg
         ...
1455    CompShg
1456    CompShg
1457    CompShg
1458    CompShg
1459    CompShg
Name: RoofMatl, Length: 1460, dtype: object
0       VinylSd
1       MetalSd
2       VinylSd
3       Wd Sdng
4       VinylSd
         ...
1455    VinylSd
1456    Plywood
1457    CemntBd
1458    MetalSd
1459    HdBoard
Name: Exterior1st, Length: 1460, dtype: object
0       VinylSd
1       MetalSd
2       VinylSd
3       Wd Shng
4       VinylSd
         ...
1455    VinylSd
1456    Plywood
1457    CmentBd
1458    MetalSd
1459    HdBoard
Name: Exterior2nd, Length: 1460, dtype: object
0       BrkFace
1          None
2       BrkFace
3          None
4       BrkFace
         ...
1455       None
1456      Stone
1457       None
1458       None
1459       None
Name: MasVnrType, Length: 1460, dtype: object
0       196.0
1         0.0
2       162.0
3         0.0
4       350.0
        ...
1455      0.0
1456    119.0
1457      0.0
1458      0.0
1459      0.0
Name: MasVnrArea, Length: 1460, dtype: float64
0       Gd
1       TA
2       Gd
3       TA
4       Gd
        ..
1455    TA
1456    TA
1457    Ex
1458    TA
1459    Gd
Name: ExterQual, Length: 1460, dtype: object
0       TA
1       TA
2       TA
3       TA
4       TA
        ..
1455    TA
1456    TA
1457    Gd
1458    TA
1459    TA
Name: ExterCond, Length: 1460, dtype: object
0        PConc
1       CBlock
2        PConc
3       BrkTil
4        PConc
         ...
1455     PConc
1456    CBlock
1457     Stone
1458    CBlock
1459    CBlock
Name: Foundation, Length: 1460, dtype: object
0       Gd
1       Gd
2       Gd
3       TA
4       Gd
        ..
1455    Gd
1456    Gd
1457    TA
1458    TA
1459    TA
Name: BsmtQual, Length: 1460, dtype: object
0       TA
1       TA
2       TA
3       Gd
4       TA
        ..
1455    TA
1456    TA
1457    Gd
1458    TA
1459    TA
Name: BsmtCond, Length: 1460, dtype: object
0       No
1       Gd
2       Mn
3       No
4       Av
        ..
1455    No
1456    No
1457    No
1458    Mn
1459    No
Name: BsmtExposure, Length: 1460, dtype: object
0       GLQ
1       ALQ
2       GLQ
3       ALQ
4       GLQ
       ...
1455    Unf
1456    ALQ
1457    GLQ
1458    GLQ
1459    BLQ
Name: BsmtFinType1, Length: 1460, dtype: object
0       706
1       978
2       486
3       216
4       655
       ...
1455      0
1456    790
1457    275
1458     49
1459    830
Name: BsmtFinSF1, Length: 1460, dtype: int64
0       Unf
1       Unf
2       Unf
3       Unf
4       Unf
       ...
1455    Unf
1456    Rec
1457    Unf
1458    Rec
1459    LwQ
Name: BsmtFinType2, Length: 1460, dtype: object
0          0
1          0
2          0
3          0
4          0
        ...
1455       0
1456     163
1457       0
1458    1029
1459     290
Name: BsmtFinSF2, Length: 1460, dtype: int64
0       150
1       284
2       434
3       540
4       490
       ...
1455    953
1456    589
1457    877
1458      0
1459    136
Name: BsmtUnfSF, Length: 1460, dtype: int64
0        856
1       1262
2        920
3        756
4       1145
        ...
1455     953
1456    1542
1457    1152
1458    1078
1459    1256
Name: TotalBsmtSF, Length: 1460, dtype: int64
0       GasA
1       GasA
2       GasA
3       GasA
4       GasA
        ...
1455    GasA
1456    GasA
1457    GasA
1458    GasA
1459    GasA
Name: Heating, Length: 1460, dtype: object
0       Ex
1       Ex
2       Ex
3       Gd
4       Ex
        ..
1455    Ex
1456    TA
1457    Ex
1458    Gd
1459    Gd
Name: HeatingQC, Length: 1460, dtype: object
0       Y
1       Y
2       Y
3       Y
4       Y
       ..
1455    Y
1456    Y
1457    Y
1458    Y
1459    Y
Name: CentralAir, Length: 1460, dtype: object
0       SBrkr
1       SBrkr
2       SBrkr
3       SBrkr
4       SBrkr
        ...
1455    SBrkr
1456    SBrkr
1457    SBrkr
1458    FuseA
1459    SBrkr
Name: Electrical, Length: 1460, dtype: object
0        856
1       1262
2        920
3        961
4       1145
        ...
1455     953
1456    2073
1457    1188
1458    1078
1459    1256
Name: 1stFlrSF, Length: 1460, dtype: int64
0        854
1          0
2        866
3        756
4       1053
        ...
1455     694
1456       0
1457    1152
1458       0
1459       0
Name: 2ndFlrSF, Length: 1460, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1455    0
1456    0
1457    0
1458    0
1459    0
Name: LowQualFinSF, Length: 1460, dtype: int64
0       1710
1       1262
2       1786
3       1717
4       2198
        ...
1455    1647
1456    2073
1457    2340
1458    1078
1459    1256
Name: GrLivArea, Length: 1460, dtype: int64
0       1
1       0
2       1
3       1
4       1
       ..
1455    0
1456    1
1457    0
1458    1
1459    1
Name: BsmtFullBath, Length: 1460, dtype: int64
0       0
1       1
2       0
3       0
4       0
       ..
1455    0
1456    0
1457    0
1458    0
1459    0
Name: BsmtHalfBath, Length: 1460, dtype: int64
0       2
1       2
2       2
3       1
4       2
       ..
1455    2
1456    2
1457    2
1458    1
1459    1
Name: FullBath, Length: 1460, dtype: int64
0       1
1       0
2       1
3       0
4       1
       ..
1455    1
1456    0
1457    0
1458    0
1459    1
Name: HalfBath, Length: 1460, dtype: int64
0       3
1       3
2       3
3       3
4       4
       ..
1455    3
1456    3
1457    4
1458    2
1459    3
Name: BedroomAbvGr, Length: 1460, dtype: int64
0       1
1       1
2       1
3       1
4       1
       ..
1455    1
1456    1
1457    1
1458    1
1459    1
Name: KitchenAbvGr, Length: 1460, dtype: int64
0       Gd
1       TA
2       Gd
3       Gd
4       Gd
        ..
1455    TA
1456    TA
1457    Gd
1458    Gd
1459    TA
Name: KitchenQual, Length: 1460, dtype: object
0       8
1       6
2       6
3       7
4       9
       ..
1455    7
1456    7
1457    9
1458    5
1459    6
Name: TotRmsAbvGrd, Length: 1460, dtype: int64
0        Typ
1        Typ
2        Typ
3        Typ
4        Typ
        ...
1455     Typ
1456    Min1
1457     Typ
1458     Typ
1459     Typ
Name: Functional, Length: 1460, dtype: object
0       0
1       1
2       1
3       1
4       1
       ..
1455    1
1456    2
1457    2
1458    0
1459    0
Name: Fireplaces, Length: 1460, dtype: int64
0       NaN
1        TA
2        TA
3        Gd
4        TA
       ...
1455     TA
1456     TA
1457     Gd
1458    NaN
1459    NaN
Name: FireplaceQu, Length: 1460, dtype: object
0       Attchd
1       Attchd
2       Attchd
3       Detchd
4       Attchd
         ...
1455    Attchd
1456    Attchd
1457    Attchd
1458    Attchd
1459    Attchd
Name: GarageType, Length: 1460, dtype: object
0       2003.0
1       1976.0
2       2001.0
3       1998.0
4       2000.0
         ...
1455    1999.0
1456    1978.0
1457    1941.0
1458    1950.0
1459    1965.0
Name: GarageYrBlt, Length: 1460, dtype: float64
0       RFn
1       RFn
2       RFn
3       Unf
4       RFn
       ...
1455    RFn
1456    Unf
1457    RFn
1458    Unf
1459    Fin
Name: GarageFinish, Length: 1460, dtype: object
0       2
1       2
2       2
3       3
4       3
       ..
1455    2
1456    2
1457    1
1458    1
1459    1
Name: GarageCars, Length: 1460, dtype: int64
0       548
1       460
2       608
3       642
4       836
       ...
1455    460
1456    500
1457    252
1458    240
1459    276
Name: GarageArea, Length: 1460, dtype: int64
0       TA
1       TA
2       TA
3       TA
4       TA
        ..
1455    TA
1456    TA
1457    TA
1458    TA
1459    TA
Name: GarageQual, Length: 1460, dtype: object
0       TA
1       TA
2       TA
3       TA
4       TA
        ..
1455    TA
1456    TA
1457    TA
1458    TA
1459    TA
Name: GarageCond, Length: 1460, dtype: object
0       Y
1       Y
2       Y
3       Y
4       Y
       ..
1455    Y
1456    Y
1457    Y
1458    Y
1459    Y
Name: PavedDrive, Length: 1460, dtype: object
0         0
1       298
2         0
3         0
4       192
       ...
1455      0
1456    349
1457      0
1458    366
1459    736
Name: WoodDeckSF, Length: 1460, dtype: int64
0       61
1        0
2       42
3       35
4       84
        ..
1455    40
1456     0
1457    60
1458     0
1459    68
Name: OpenPorchSF, Length: 1460, dtype: int64
0         0
1         0
2         0
3       272
4         0
       ...
1455      0
1456      0
1457      0
1458    112
1459      0
Name: EnclosedPorch, Length: 1460, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1455    0
1456    0
1457    0
1458    0
1459    0
Name: 3SsnPorch, Length: 1460, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1455    0
1456    0
1457    0
1458    0
1459    0
Name: ScreenPorch, Length: 1460, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1455    0
1456    0
1457    0
1458    0
1459    0
Name: PoolArea, Length: 1460, dtype: int64
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
1455    NaN
1456    NaN
1457    NaN
1458    NaN
1459    NaN
Name: PoolQC, Length: 1460, dtype: object
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
        ...
1455      NaN
1456    MnPrv
1457    GdPrv
1458      NaN
1459      NaN
Name: Fence, Length: 1460, dtype: object
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
1455     NaN
1456     NaN
1457    Shed
1458     NaN
1459     NaN
Name: MiscFeature, Length: 1460, dtype: object
0          0
1          0
2          0
3          0
4          0
        ...
1455       0
1456       0
1457    2500
1458       0
1459       0
Name: MiscVal, Length: 1460, dtype: int64
0        2
1        5
2        9
3        2
4       12
        ..
1455     8
1456     2
1457     5
1458     4
1459     6
Name: MoSold, Length: 1460, dtype: int64
0       2008
1       2007
2       2008
3       2006
4       2008
        ...
1455    2007
1456    2010
1457    2010
1458    2010
1459    2008
Name: YrSold, Length: 1460, dtype: int64
0       WD
1       WD
2       WD
3       WD
4       WD
        ..
1455    WD
1456    WD
1457    WD
1458    WD
1459    WD
Name: SaleType, Length: 1460, dtype: object
0        Normal
1        Normal
2        Normal
3       Abnorml
4        Normal
         ...
1455     Normal
1456     Normal
1457     Normal
1458     Normal
1459     Normal
Name: SaleCondition, Length: 1460, dtype: object
0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [36]:
type(drop_columns)

numpy.ndarray